<%- include ('../partials/header'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js" integrity="sha512-x/vqovXY/Q4b+rNjgiheBsA/vbWA3IVvsS8lkQSX1gQ4ggSJx38oI2vREZXpTzhAv6tNUaX81E7QBBzkpDQayA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container-margin">
  <section class="section breadcrumbs-custom">
    <div class="breadcrumbs-custom-main bg-image bg-primary" style="background-image: url('../images/banner_blog.svg')">
      <div class="container py-4">
      </div>
    </div>
  </section>
  <section class="section section-md">
    <div class="container">
      <div class="row row-50 row-xl-70">
        <% if(posts.length<1){%>
          <p class="text-white">No posts yet, create a new one</p>
          <%  } %>
        <% if(posts) { %>

          <% posts.forEach(post=>{ %>
        <div class="col-sm-6 col-lg-4">
          <article class="post-classic"><a class="post-classic-media" href="/blog/<%= post._id %>"><img class="post-classic-image" src="<%= post.photo %>" alt="" style="width: 369px; height:253px;"/></a>

            <h4 class="post-classic-title"><a href="/blog/<%= post._id %>"><%= post.title %></a></h4>
            <time class="post-classic-time" datetime="2022"><%= post.createdAt.toLocaleDateString() %></time>
            <!-- <div class="post-classic-text">
              <p>There’s no denying that the landscape of work is changing. More and more companies are adopting </p>
            </div>
            <ul class="post-classic-meta">
              <li><a href="blog-post.html"> <span class="icon mdi mdi-comment-outline"></span><span>3 Comments</span></a></li>
              <li><a href="#"><span class="icon mdi mdi-thumb-up-outline"></span><span>30 Likes</span></a></li>
            </ul> -->
          </article>
        </div>
        <% }) %>
        <% } %>

      </div>
      <!-- Bootstrap Pagination-->
      <!-- <nav class="pagination-outer text-center" aria-label="Page navigation">
        <div class="pagination">
          <div class="page-item page-item-control"><a class="page-link" href="#" aria-label="Previous">Prev</a></div>
          <div class="page-item"><a class="page-link" href="#">1</a></div>
          <div class="page-item"><a class="page-link" href="#">2</a></div>
          <div class="page-item active"><span class="page-link">3</span></div>
          <div class="page-item"><a class="page-link" href="#">4</a></div>
          <div class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next">Next</a></div>
        </div>
      </nav> -->
    </div>
  </section>
</div>

<%- include('../partials/footer') %>