<%- include ('../partials/header'); %>
<% if (post) { %>
<section class="section breadcrumbs-custom">
    <div class="breadcrumbs-custom-main bg-image bg-primary">
      <div class="container">
        <h3 class="breadcrumbs-custom-title"><%= post.title %></h3>
      </div>
    </div>
    <div class="breadcrumbs-custom-aside">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Inicio</a></li>
          <li class="active"><%= post.title %></li>
          <% if (isAdmin) { %>
            <li class="active">
              <a class="button button-primary" href="/blog/update/<%= post._id %>" target="_blank">Editar Post</a>
            </li>
            <li class="active">            
              <button class="button button-primary" data-post="<%= post._id %>" data-user="<%= user._id %>" id="btnDelete" ">
              Eliminar Post
            </button></li>
            <% } %>
        </ul>
      </div>
    </div>
  </section>
  <section class="section section-md">
    <div class="container">
      <div class="blog-layout">
        <div class="blog-layout-main">
          <article class="post-creative"><img class="post-creative-image" src="<%= post.photo %>" alt="" width="768" height="475" style="width: 768px;"/>
            <div class="post-creative-meta">
              <div class="post-creative-meta-inner">
                <div class="post-creative-author">
                  <!-- <img class="post-creative-author-image" src="images/user-1-36x36.jpg" alt="" width="36" height="36"/> -->
                  <p>
                     Escrito por:&nbsp;<a href="#">TrabajarYa</a></p>
                </div>
                <div>
                  <ul class="post-creative-meta-list">
                    <li> <span class="icon mdi mdi-clock"> </span>
                      <time datetime="2019"><%= post.createdAt %></time>
                    </li>
                    <!-- <li><span class="icon fl-justicons-visible6"></span><span>3678 </span></li>
                    <li><span class="icon mdi mdi-message-outline"></span><span>3</span></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <h5><%= post.title %></h5>
            <p class="card-text"><%- post.desc %></p>

          </article>


        </div>

      </div>
      <!-- <div class="section-sm section-first">
        <p class="blog-layout-title text-center">Recent Posts</p>
        <div class="row row-30">
          <div class="col-sm-6">
            <article class="post-classic"><a class="post-classic-media" href="blog-post.html"><img class="post-classic-image" src="images/blog-2-369x253.jpg" alt="" width="369" height="253"/></a>
              <h4 class="post-classic-title"><a href="blog-post.html">Job Search Success: Finding a Business Development Job</a></h4>
              <time class="post-classic-time" datetime="2019">November 23, 2019</time>
              <div class="post-classic-text">
                <p>Business development professionals are at the heart of all sorts of organizations, from startups to</p>
              </div>
              <ul class="post-classic-meta">
                <li><a href="blog-post.html"> <span class="icon mdi mdi-comment-outline"></span><span>3 Comments</span></a></li>
                <li><a href="#"><span class="icon mdi mdi-thumb-up-outline"></span><span>30 Likes</span></a></li>
              </ul>
            </article>
          </div>

        </div>
      </div> -->
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $(document).ready(function () {

    $("#loader").hide();

        $("#btnDelete").click(function (event) {
          Swal.fire({
          title: 'Estas seguro?',
          text: "No podras revertir esto!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, eliminar!',
          cancelmButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {

            var data = new FormData();
            var userIdBtn = document.getElementById('btnDelete');
            var postId = userIdBtn.getAttribute('data-post');
            var userId = userIdBtn.getAttribute('data-user');
            data.append("postId", postId);
            data.append("userId", userId);

            $.ajax({
                type: "DELETE",
                enctype: 'multipart/form-data',
                url: `/blog/${postId}`,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 800000,
                success: function (data) {
                    $("#output").text(data);
                    console.log("SUCCESS : ", data);
                    // $("#btnSubmit").prop("disabled", false);
                    Swal.fire(
                      'Eliminado!',
                      ' El post ha sido eliminado.',
                      'success'
                    )
                    console.log(data)
                    setTimeout(function(){location.href=`/blog`} , 2000);   
                },
                error: function (e) {
                  Swal.fire(
                  'Hubo un error',
                  `Hubo un error!`,
                  'error'
                )
                    $("#output").text(e.responseText);
                    console.log("ERROR : ", e);
                    $("#btnSubmit").prop("disabled", false);
                    $("#btnSubmit").show();
                $("#loader").hide();
                }
            });

          }
        })

        });
    });
</script>
  <% } %>
<%- include('../partials/footer') %>